/*TITULO*/
.consejo {
    height: 120px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 15px;
    font-weight: bold;
    color: #7b00ac;
}

/*CONTENEDOR GRANDE*/
.bigContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*SUBTITULOS*/
.subtitulo{
    color: purple;
}

/*IMAGENES*/
.imagen1{
    background-image: url(/img/consejos1);
    background-size: cover;
}

/*CONSEJOS*/
.primerConsejo{
    width: 100%;
    height: max-content;
    color: rgb(20, 15, 15);
    text-align: center;
}

.segundoConsejo{
    width: 100%;
    height: max-content;
    color: rgb(20, 15, 15);
    text-align: center;
}